In [87]:
import pandas as pd
import pymongo
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [42]:
firedata_file = "National_USFS_Fire_Occurrence_Point__Feature_Layer_.csv"
fire_df = pd.read_csv(firedata_file)
fire_df.head()

C:\Users\Bhavin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (3,4,5,8,11,12,13,17,18,19,20,21,22,23,24) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,X,Y,OBJECTID,GLOBALID,FIREOCCURID,CN,REVDATE,FIRENAME,COMPLEXNAME,FIREYEAR,...,PROTECTIONAGENCY,UNITIDPROTECT,LATDD83,LONGDD83,FIRETYPECATEGORY,POINTTYPE,PERIMEXISTS,FIRESTATQC,DBSOURCEID,DBSOURCEDATE
0,-114.962222,46.275278,329407937,NaN,NaN,1479109,1999/11/30 00:00:00+00,Barren,NaN,2009.0,...,NaN,NaN,46.27528,-114.96222,WF,,,,1,2020/09/11 04:00:49+00
1,-114.213333,46.468333,329407938,NaN,NaN,301132,1999/11/30 00:00:00+00,MccallaRidge,NaN,1995.0,...,NaN,NaN,46.46833,-114.21333,WF,,,,1,2020/09/11 04:03:57+00
2,-115.631389,46.025556,329407939,NaN,NaN,377015,1999/11/30 00:00:00+00,Goddard,NaN,2002.0,...,NaN,NaN,46.02556,-115.63139,WF,,,,1,2020/09/11 04:03:57+00
3,-115.503611,45.899444,329407940,NaN,NaN,376201,1999/11/30 00:00:00+00,LittleElk,NaN,2002.0,...,NaN,NaN,45.89944,-115.50361,WF,,,,1,2020/09/11 04:03:57+00
4,-116.448333,48.784444,329407941,NaN,NaN,397790,1999/11/30 00:00:00+00,ScotchCreek,NaN,2004.0,...,NaN,NaN,48.78444,-116.44833,WF,,,,1,2020/09/11 04:03:57+00

In [12]:
filtered_fire_df = fire_df[fire_df['FIREYEAR'] >=2010.0]
filtered_fire_df

,X,Y,OBJECTID,GLOBALID,FIREOCCURID,CN,REVDATE,FIRENAME,COMPLEXNAME,FIREYEAR,...,PROTECTIONAGENCY,UNITIDPROTECT,LATDD83,LONGDD83,FIRETYPECATEGORY,POINTTYPE,PERIMEXISTS,FIRESTATQC,DBSOURCEID,DBSOURCEDATE
129,-114.995000,48.869167,329408066,NaN,NaN,1503426,1999/11/30 00:00:00+00,Lt,NaN,2012.0,...,NaN,NaN,48.86917,-114.99500,WF,,,,1,2020/09/11 04:03:58+00
130,-115.490000,48.272778,329408067,NaN,NaN,1503707,1999/11/30 00:00:00+00,EasySt,NaN,2012.0,...,NaN,NaN,48.27278,-115.49000,WF,,,,1,2020/09/11 04:03:58+00
131,-115.858611,48.430833,329408068,NaN,NaN,1503481,1999/11/30 00:00:00+00,ShannonParty,NaN,2012.0,...,NaN,NaN,48.43083,-115.85861,WF,,,,1,2020/09/11 04:03:58+00
132,-115.484722,48.284167,329408069,NaN,NaN,1503714,1999/11/30 00:00:00+00,Airport,NaN,2012.0,...,NaN,NaN,48.28417,-115.48472,WF,,,,1,2020/09/11 04:03:58+00
278,-115.653333,48.569722,329408215,NaN,NaN,1509187,1999/11/30 00:00:00+00,LittleTom,NaN,2012.0,...,NaN,NaN,48.56972,-115.65333,WF,,,,1,2020/09/11 04:03:58+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554699,-134.732757,58.375274,329962636,{E7C4ECC8-FB14-4ED8-BD01-77E552E05EFD},NaN,NaN,2019/12/27 00:00:00+00,POINT LOUISA,NaN,2019.0,...,NaN,NaN,58.37528,-134.73278,WF,,,,1005,2020/09/11 05:04:04+00
554700,-134.726368,58.533329,329962637,{092A50C3-BF0A-40A7-AAF6-913C77CCBA8B},NaN,NaN,2019/12/27 00:00:00+00,HERBERT,NaN,2019.0,...,NaN,NaN,58.53333,-134.72639,WF,,,,1005,2020/09/11 05:04:04+00
554701,-132.797202,56.868329,329962638,{18F6E52D-FF15-4FCA-B250-CCB291669546},NaN,NaN,2019/12/27 00:00:00+00,ICY COVE,NaN,2019.0,...,NaN,NaN,56.86833,-132.79722,WF,,,,1005,2020/09/11 05:04:04+00
554702,-135.408313,57.992774,329962639,{75164940-0694-4DA2-9604-FBD2B0565D93},NaN,NaN,2019/12/27 00:00:00+00,VORTEX,NaN,2019.0,...,NaN,NaN,57.99278,-135.40833,WF,,,,1005,2020/09/11 05:04:04+00
554703,-132.583314,56.145829,329962640,{D3FB7C82-D621-4821-B8AB-2545DF5BE830},NaN,NaN,2019/12/27 00:00:00+00,MOSMAN BAY,NaN,2019.0,...,NaN,NaN,56.14583,-132.58333,WF,,,,1005,2020/09/11 05:04:04+00

In [75]:
filtered_fire_df1 = filtered_fire_df[filtered_fire_df['TOTALACRES'] > 500]
filtered_fire_df1

,X,Y,OBJECTID,GLOBALID,FIREOCCURID,CN,REVDATE,FIRENAME,COMPLEXNAME,FIREYEAR,...,PROTECTIONAGENCY,UNITIDPROTECT,LATDD83,LONGDD83,FIRETYPECATEGORY,POINTTYPE,PERIMEXISTS,FIRESTATQC,DBSOURCEID,DBSOURCEDATE
765,-114.939788,47.218545,329408702,NaN,NaN,1518600,1999/11/30 00:00:00+00,WestMullan,NaN,2013.0,...,NaN,NaN,47.21855,-114.93979,WF,,,,1,2020/09/11 04:04:00+00
1306,-110.439444,45.046111,329409243,NaN,NaN,1500990,1999/11/30 00:00:00+00,Bull,NaN,2011.0,...,NaN,NaN,45.04611,-110.43944,WF,,,,1,2020/09/11 04:04:03+00
2676,-114.880556,46.448889,329410613,NaN,NaN,1507394,1999/11/30 00:00:00+00,Queen,NaN,2012.0,...,NaN,NaN,46.44889,-114.88056,WF,,,,1,2020/09/11 04:04:10+00
2677,-114.939444,46.399444,329410614,NaN,NaN,1507396,1999/11/30 00:00:00+00,FreezeOut,NaN,2012.0,...,NaN,NaN,46.39944,-114.93944,WF,,,,1,2020/09/11 04:04:10+00
2967,-114.351944,46.746667,329410904,NaN,NaN,1517199,1999/11/30 00:00:00+00,WestFork2,NaN,2013.0,...,NaN,NaN,46.74667,-114.35194,WF,,,,1,2020/09/11 04:04:11+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
552412,-92.197778,36.714167,329960349,{9B75D7B5-16AC-4600-BA5B-3B4F2FF59905},NaN,1628803,1999/11/30 00:00:00+00,Potato Cave,NaN,2012.0,...,USFS,MOMTF,36.71417,-92.19778,WF,Unknown,Y,No,9,2020/09/11 05:03:31+00
552707,-93.050556,36.818611,329960644,{11D8D179-9042-487E-8FF5-4018A98BF724},NaN,1701441,1999/11/30 00:00:00+00,Deveraux,NaN,2014.0,...,USA,MOMTF,36.81861,-93.05056,WF,Unknown,Y,No,9,2020/09/11 05:03:32+00
552741,-91.336944,37.472222,329960678,{24220C03-9A10-4F2B-896D-DC9096D22241},NaN,1611751,1999/11/30 00:00:00+00,Minninghaw,NaN,2011.0,...,USA,MOMTF,37.47222,-91.33694,WF,Unknown,Y,No,9,2020/09/11 05:03:32+00
553110,-93.069444,36.848333,329961047,{584EC429-4D48-4411-9B9D-40794CD91F3B},NaN,1567317,1999/11/30 00:00:00+00,Deveraux,NaN,2010.0,...,USFS,MOMTF,36.84833,-93.06944,WF,Unknown,Y,No,9,2020/09/11 05:03:35+00
553230,-150.433248,60.630901,329961167,{8EA3B55F-2472-4D9B-81F6-EA12CF0C6D6D},,,2020/03/20 00:00:00+00,Swan Lake\r\nSwan Lake\r\n,,2019.0,...,State,,60.63056,-150.43778,WF,Ignition,Y,Yes,1004,2020/09/11 05:03:46+00

In [76]:
filtered_fire_df1['STATCAUSE'].unique()

array(['9', '1', '7', '2', 'Lightning', 'Miscellaneous', 'Campfire', '5',
       nan, '4', '1 -  Lightning', 1.0, 9.0, 6.0, 2.0, 4.0, 5.0, 7.0, 3.0,
       0, '9 -  Miscellaneous', '2 -  Equipment Use', '7 -  Arson',
       '4 -  Campfire', ' -  ', '5 -  Debris Burning', 8, 13, 11, '13',
       '12', '11', '6', 'Debris Burning', 'Arson'], dtype=object)

In [77]:
filtered_fire_df1['STATCAUSE'] = filtered_fire_df1['STATCAUSE'].replace({1.0 :'1 - Lightning',
                                                                         '1': '1 - Lightning',
                                                                         '1 -  Lightning': '1 - Lightning',
                                                                         'Lightning':'1 - Lightning',
                                                                         2.0 :'2 - Equipment Use',
                                                                         '2 -  Equipment Use':'2 - Equipment Use',
                                                                         '2':'2 - Equipment Use',
                                                                         0 : '0 - Unknown',
                                                                         ' -  ':'0 - Unknown',
                                                                         np.nan:'0 - Unknown',
                                                                         3.0:'3 - Smoking',
                                                                         4.0:'4 - Campfire',
                                                                         'Campfire':'4 - Campfire',
                                                                         '4 -  Campfire':'4 - Campfire',
                                                                         '4':'4 - Campfire',
                                                                         5.0:'5 - Debris Burning',
                                                                         '5 -  Debris Burning':'5 - Debris Burning',
                                                                         '5':'5 - Debris Burning',
                                                                         'Debris Burning':'5 - Debris Burning',
                                                                         6.0:'6 - Railroad',
                                                                         '6':'6 - Railroad',
                                                                         7.0:'7 - Arson',
                                                                         'Arson':'7 - Arson',
                                                                         '7 -  Arson':'7 - Arson',
                                                                         '7':'7 - Arson',
                                                                         8:'8 - Children',
                                                                         9.0:'9 - Miscellaneous',
                                                                         '9 -  Miscellaneous':'9 - Miscellaneous',
                                                                         '9':'9 - Miscellaneous',
                                                                         'Miscellaneous':'9 - Miscellaneous',
                                                                         11:'9 - Miscellaneous',
                                                                         '11':'9 - Miscellaneous',
                                                                         '12':'9 - Miscellaneous',
                                                                         '13':'9 - Miscellaneous',
                                                                         13:'9 - Miscellaneous'})

# df.Num_of_employees = df.Num_of_employees.replace({"10-Jan": "1-10",
#                                                    "Nov-50": "11-50"})

<ipython-input-77-bc435189761c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_fire_df1['STATCAUSE'] = filtered_fire_df1['STATCAUSE'].replace({1.0 :'1 - Lightning',

In [78]:
filtered_fire_df1.groupby(['STATCAUSE']).count()

,X,Y,OBJECTID,GLOBALID,FIREOCCURID,CN,REVDATE,FIRENAME,COMPLEXNAME,FIREYEAR,...,PROTECTIONAGENCY,UNITIDPROTECT,LATDD83,LONGDD83,FIRETYPECATEGORY,POINTTYPE,PERIMEXISTS,FIRESTATQC,DBSOURCEID,DBSOURCEDATE
STATCAUSE,,,,,,,,,,,,,,,,,,,,,
0 - Unknown,18,18,18,8,6,7,18,18,0,18,...,12,9,18,18,18,18,18,12,18,18
1 - Lightning,1091,1091,1091,606,522,775,1089,1091,129,1091,...,753,611,1091,1091,1091,1091,1091,1078,1091,1091
2 - Equipment Use,85,85,85,35,20,25,85,84,6,85,...,48,42,85,85,85,85,85,82,85,85
3 - Smoking,2,2,2,1,0,1,2,2,1,2,...,2,2,2,2,2,2,2,2,2,2
4 - Campfire,57,57,57,34,22,32,57,57,1,57,...,37,28,57,57,57,57,57,57,57,57
5 - Debris Burning,15,15,15,6,2,7,15,15,0,15,...,8,7,15,15,15,15,15,13,15,15
6 - Railroad,11,11,11,7,2,7,11,11,5,11,...,7,5,11,11,11,11,11,11,11,11
7 - Arson,94,94,94,51,42,51,94,94,12,94,...,77,64,94,94,94,94,94,92,94,94
8 - Children,3,3,3,1,1,1,3,3,1,3,...,1,1,3,3,3,3,3,3,3,3
9 - Miscellaneous,394,394,394,180,81,165,394,388,19,394,...,207,152,394,394,394,394,394,390,394,394

In [79]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

db = client.fire_db

In [81]:
db.filtered_fire.insert_many(filtered_fire_df1.to_dict('records'))

In [198]:
filtered_fire_df1.to_csv('filtered_fire.csv', sep=',', encoding='utf-8')